<div class="container">
  <div class="box">
    <div class="level">
      <div class="level-left">
        <div class="level-item">
          <h1 class="title is-4">Tenants</h1>
        </div>
        <div class="level-item">
          <span class="tag is-info is-light"><%= @tenants.count %> tenants</span>
        </div>
      </div>
      <div class="level-right">
        <%= link_to new_tenant_path, class: "button is-primary" do %>
          <span class="icon">
            <i class="fas fa-plus"></i>
          </span>
          <span>New Tenant</span>
        <% end %>
      </div>
    </div>

    <div class="table-container">
      <% if @tenants.any? %>
        <table class="table is-striped is-hoverable is-fullwidth">
          <thead>
            <tr>
              <th>ID</th>
              <th>Name</th>
              <th>Users</th>
              <th>Created At</th>
              <th>Actions</th>
            </tr>
          </thead>
          <tbody>
            <% @tenants.each do |tenant| %>
              <tr>
                <td><%= tenant.id %></td>
                <td><%= tenant.name %></td>
                <td><%= tenant.users.compact.join(', ') if tenant.users %></td>
                <td><%= tenant.created_at.strftime("%B %d, %Y") %></td>
                <td>
                  <div class="buttons">
                    <%= link_to tenant_path(tenant), class: "button is-small is-info" do %>
                      <span class="icon">
                        <i class="fas fa-eye"></i>
                      </span>
                      <span>View</span>
                    <% end %>
                    <%= link_to edit_tenant_path(tenant), class: "button is-small is-warning" do %>
                      <span class="icon">
                        <i class="fas fa-edit"></i>
                      </span>
                      <span>Edit</span>
                    <% end %>
                  </div>
                </td>
              </tr>
            <% end %>
          </tbody>
        </table>
      <% else %>
        <div class="has-text-centered py-6">
          <p class="has-text-grey mb-4">No tenants found</p>
          <%= link_to new_tenant_path, class: "button is-primary" do %>
            <span class="icon">
              <i class="fas fa-plus"></i>
            </span>
            <span>Create your first tenant</span>
          <% end %>
        </div>
      <% end %>
    </div>
  </div>
</div>
