<div class="container">
  <div class="box">
    <div class="level">
      <div class="level-left">
        <div class="level-item">
          <h1 class="title is-4">Users</h1>
        </div>
        <div class="level-item">
          <span class="tag is-info is-light"><%= @users.count %> users</span>
        </div>
      </div>
    </div>

    <div class="table-container">
      <table class="table is-striped is-hoverable is-fullwidth">
        <thead>
          <tr>
            <th>ID</th>
            <th>Email</th>
            <th>Tenants</th>
            <th>Created At</th>
            <th>Invitation Status</th>
            <th>Actions</th>
          </tr>
        </thead>
        <tbody>
          <% @users.each do |user| %>
            <tr>
              <td><%= user.id %></td>
              <td><%= user.email %></td>
              <td><%= user.tenants.compact.join(', ') if user.tenants %></td>
              <td><%= user.created_at.strftime("%B %d, %Y") %></td>
              <td>
                <% if user.created_by_invite? %>
                  <div class="is-flex is-align-items-center">
                    <span class="tag is-success mr-2">Created By Invite</span>
                    <% if user.invitation_accepted_at.present? %>
                      <span class="tag is-warning">Accepted</span>
                    <% else %>
                      <%= button_to 'Resend Invitation',
                          resend_invitation_user_path(user),
                          method: :patch,
                          class: "button is-small is-link" %>
                    <% end %>
                  </div>
                <% end %>
              </td>
              <td>
                <%= link_to user_path(user), class: "button is-small is-info" do %>
                  <span class="icon">
                    <i class="fas fa-eye"></i>
                  </span>
                  <span>View</span>
                <% end %>
              </td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
</div>
