<!DOCTYPE html>
<html>
  <head>
    <title>Rezz</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.4/css/bulma.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css">
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
    <%= render 'layouts/navbar' %>

    <% if notice %>
      <div class="notification is-info is-light mb-0">
        <div class="container">
          <%= notice %>
        </div>
      </div>
    <% end %>

    <% if alert %>
      <div class="notification is-danger is-light mb-0">
        <div class="container">
          <%= alert %>
        </div>
      </div>
    <% end %>

    <div class="container">
      <section class="section">
        <%= yield %>
      </section>
    </div>
  </body>
</html>
